<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="/css/index.css">

    <body>
        <%- include("partials/header.ejs") %>
            <%- include("partials/banner.ejs") %>
                <main class="main">
                    <h3 class="destacados-title">Productos Destacados:</h3>
                    <section class="productos-destacados">
                        <% productosDestacados.forEach(producto=> { %>
                            <article class="producto">
                                <a href="/products/detalleProducto/<%= producto.id %>">
                                    <img src="<%= producto.img %>" class="img-producto">
                                    <h4 class="nombre-producto">
                                        <%= producto.nombre %>
                                    </h4>
                                    <p class="precio-producto">$<%= producto.precio %>
                                    </p>
                                    <i class="fa-solid fa-cart-plus" id="carrito-producto"></i>
                                </a>
                            </article>
                            <% }) %>
                    </section>
                </main>
                <%- include("partials/footer.ejs") %>
    </body>

</html>